.right-sidebar {
  position: absolute;
  right: 0;
  top: 100px;
  width: 200px;
  height: 740px;
  background: rgba(11, 23, 32, 0.7);
  color: white;
  transition: transform 0.3s ease-in-out;
  z-index: 100;
  display: flex;
  flex-direction: column;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.right-sidebar.closed {
  transform: translateX(200px);
}

.right-sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 40px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(0, 0, 0, 0.5);
}

.title-container {
  display: flex;
  align-items: center;
}

.diamond-icon {
  margin-right: 8px;
  color: #fff;
}

.sidebar-title {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
}

.item-count {
  margin-left: 10px;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
}

.right-toggle-button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 60px;
  position: absolute;
  left: -24px;
  top: 0;
  background-color: rgba(11, 23, 32, 0.7);
  border-radius: 12px 0 0 12px;
}

.right-sidebar-content {
  flex: 1;
  overflow-y: auto;
}

/* 스크롤바 스타일링 */
.right-sidebar-content::-webkit-scrollbar {
  width: 6px;
}

.right-sidebar-content::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.3);
}

.right-sidebar-content::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 3px;
}

.cctv-button {
  position: absolute;
  left: -100px;
  top: -5px;
  background-color: rgba(11, 23, 32, 0);
  border-radius: 6px;
  cursor: pointer;
}

.cctv-button:hover {
  opacity: 0.8;
}
